//>Const
$background: #DDDDDD;
$font : 'Varela Round', sans-serif;
$black: #222222;
$grey: #626474;
$green: #4CB050;
$red: #df2f2f;
//<Const

//>Generic
*{
    outline: none;
    font-family: $font;
}
html{
   overflow: hidden;
}
body{
    margin: 0;
    padding: 0;
    color: $black;
    background-color: $background;
}
main{
    transition-duration: 2s;
    //login
    transform: translateY(-100vh) translateX(00vw); 
    //forgotpassword1
    // transform: translateY(-100vh) translateX(100vw);
    //forgotpassword2
    // transform: translateY(-100vh) translateX(200vw);
    //register1
    //  transform: translateY(00vh) translateX(00vw);
    //register2
    //  transform: translateY(00vh) translateX(-100vw);
    //register3
    //  transform: translateY(00vh) translateX(-200vw);
}
//<Generic
//>Card

.card{
    margin: auto;
    width: 40%;
    height: 50vh;
    min-width: 200px;
    max-width: 500px;
    min-height: 300px;
    max-height: 600px;
    text-align: center;
    border-radius: 20px;
    background: #DDDDDD;
    box-shadow:  8px 8px 15px #c2c2c2, -8px -8px 15px #f8f8f8;
}
.card-header{
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-item{
    height: 75%;
    margin: 5% auto 5% auto;
    width: 70%;
    input{
        width: 90%;
        height: 30px;
        border: none;
        border-radius: 20px;
        background: $background;
        box-shadow: inset 2px 2px 4px #b7b7b7, inset -2px -2px 4px #ffffff;
        padding: 5px;
        padding-left: 5%;
        padding-right: 5%;
    }
}
.card-next{
    margin-top: 20%;
}
//<card

//>screen
.screen{
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-screen{
    transform: translateY(100vh);
}
.connected-screen{
    transform: translateY(100vh) translateX(100vw);
}
.forgotpassword-screen{
    transform: translateY(100vh) translateX(-100vw);
}
.confirm-forgotpassword-screen{
    transform: translateY(100vh) translateX(-200vw);
}
.register-screen{
    transform: translateY(00vh) translateX(00vw);
}
.register-password-screen{
    transform: translateY(00vh) translateX(100vw);
}
.register-confirm-screen{
    transform: translateY(00vh) translateX(200vw);
}
//<screen
.link{
    text-decoration: none;
    color: $grey;
}
.link-forgotpassword{
    margin-top: 2%;
    margin-right: 10px;
    float: right;
    font-size: 0.7rem;
}
input{
    color: $grey;
}
.register{
    color: $grey;
    .link{
        color: $black;
    }
}

.next{
    transition: 0.5s;
    border: solid 2px $background;
    border-radius: 25px;
    height: 50px;
    width: 70%;
    background-color: $green;
    color: white;
    font-size: 1.2rem;
    border-radius: 25px;
    background: $green;
    box-shadow:  5px 5px 10px #b7b7b7, 
                -5px -5px 10px #ffffff;
}
.red{
    background-color: $red;
}
.red:active{
    box-shadow: inset 20px 20px 60px #be2828, 
                inset -20px -20px 60px #ff3636;
}
.next:active{
    transition: 0.5s;
    background: $green;
    box-shadow: inset 5px 5px 10px #3f9242, 
                inset -5px -5px 10px #59ce5e;
}
.shortcuts{
    width: 70%;
    margin: 5% auto 5% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.tinybutton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background: #dddddd;
    box-shadow:  5px 5px 10px #bcbcbc, 
                 -5px -5px 10px #fefefe;
    img{
        path{
            fill: $grey;
        }
        height: 50%;
        width: 50%;
    }
}
.tinybutton:active{
    background: linear-gradient(145deg, #c7c7c7, #ececec);
}
#connected{
    display: none;
}
